/*
font-family: 'Work Sans', sans-serif;
font-family: 'Roboto', sans-serif;

COLORS
white:  #ffffff
black:  #222222
grey:   #7A7A7A
red:    #E6615E
*/

html, body {
    height: 100%;
    background: #222222;
    color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

content {
    flex: 1 0 auto;
  }

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5vw;
    text-align: center;
}

p {
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Photo gallery styles */

section {
    color: #222222;
    font-weight: bold;
    font-size: 3vw;
    border: 3px solid #7A7A7A;
    background: #E6615E;
    margin: 30px 2.5vw;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

section img {
    max-width: 25vw; 
    max-height: 25vw;
    margin: 2.5vw 2.5vw;
    border: 2px solid #7A7A7A;
    border-radius: 15px;
    transition: 350ms;
}

section img:hover {
    filter: grayscale(100%) blur(2px);
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Canvas styles */

.chart-container {
    position: relative;
    height:80vw; 
    width:90vw;
    margin: 0px auto;
    text-align: center;

}

canvas {
    background: #222222;
    /* display: block; */
    /* margin: 0px auto; */
    /* border: 2px solid #E6615E; */
}

/* ---------------------------------------------------------------------------------------------------- */
/* Results list styles */

main p {
    text-transform: uppercase;
    margin-bottom: 15px;
}

main p span {
    color: #E6615E;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0px auto 30px auto;
  }
   
  li {
    border-bottom: 1px solid #7A7A7A;
  }
   
  li:last-child {
    border: none;
  }
   
  li {
    text-decoration: none;
    color: #ffff;
    display: block;
    width: 30vw;
    margin: 0px auto;
    padding-left: 2.5vw;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li:hover {
    font-size: 2.25vw;
    color: #E6615E;
  }

/* ---------------------------------------------------------------------------------------------------- */
/* Footer styles */

footer {
    flex-shrink: 0;
    font-size: 1.5vw;
}